.fullApplicationItem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  &__img {
    width: 650px;
    @media (max-width: 1020px) {
      width: 420px;
    }
    @media (max-width: 490px) {
      width: 300px;
    }
  }

  &__title {
    margin-top: 20px;
    font-size: 24px;
    @media (max-width: 490px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 18px;
    max-width: 1000px;
    line-height: 30px;
    margin-top: 8px;
    @media (max-width: 1020px) {
      max-width: 400px;
    }
    @media (max-width: 490px) {
      font-size: 16px;
      max-width: 300px;
    }
  }

  &__note {
    max-width: 1000px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 490px) {
      max-width: 300px;
    }

    &-question {
      font-size: 18px;
      margin: 15px;
      @media (max-width: 1020px) {
        max-width: 400px;
        margin-bottom: 30px;
      }
      @media (max-width: 490px) {
        font-size: 16px;
      }
    }
    &-answer {
      font-size: 18px;
      text-decoration: underline;
      @media (max-width: 1020px) {
        max-width: 400px;
      }
      @media (max-width: 490px) {
        font-size: 16px;
      }
    }
    ul {
      margin-top: 15px;
      margin-bottom: 60px;
      @media (max-width: 1020px) {
        max-width: 430px;
      }
      li {
        letter-spacing: 0.5px;
        margin-top: 3px;
        font-size: 17px;
        @media (max-width: 490px) {
          font-size: 15px;
        }
        span {
          color: $orange;
          font-weight: 600;
        }
      }
    }
  }
}
